:root {
  font-size: 12pt;
  --content-width: 45rem;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  margin-bottom: 8rem;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h2 {
  text-transform: uppercase;
}

ul {
  padding-left: 0;
}

li {
  margin-bottom: 2rem;
}

li::marker {
  content: "";
}

.container {
  max-width: var(--content-width);
  margin: 0 auto;
}
