header {
  position: relative;
}

header a {
  color: white;
}

header, footer {
  padding: 3rem calc((100% - var(--content-width)) / 2);
  background-color: black;
  color: white;
}

section {
  padding: 1rem calc((100% - var(--content-width)) / 2);
  user-select: none;
}

section h1 {
  font-size: 1.8rem;
  font-weight: bold;
  text-transform: uppercase;
  user-select: none;
  cursor: pointer;
}

section td {
  border: 1px solid black;
  padding: 0.4rem 1rem;
}

aside h3 {
  font-size: 1rem;
  font-weight: 400;
}

section,
.maps {
  border-image: var(--wavy-border-image);
  border-bottom: var(--wavy-border-top-bottom);
}

.maps {
  padding-top: 8rem;
  padding-bottom: 12rem;
}

.map {
  padding: 5rem 1rem;
}

.map:last-of-type {
  margin-bottom: 0;
}

.map-section-title {
  font-size: 3.5rem;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  margin: 12rem 0;
}

.maptitle,
.mapdescription {
  max-width: var(--content-width);
  margin: 0 auto;
}

.maptitle {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.maptitle div:nth-child(1) {
  white-space: nowrap;
  text-align: left;
  margin-right: 2rem;
}

.maptitle div:nth-child(2) {
  text-align: right;
  flex-grow: 1;
}

.mapviz {
  margin: 0 auto;
}

.maptext {
  text-align: justify;
  color: #bababa;
  max-width: var(--content-width);
  margin: 0 auto;
  margin-top: 1rem;
}
.maptext p {
  margin-bottom: 0.1rem;
}
.maptext table {
  display: inline-block;
}
.maptext td {
  text-align: left;
  vertical-align: top;
}

.maptext td:nth-child(1) {
  padding-right: 2rem;
}

.accordion table {
  border-collapse: collapse;
}
.accordion td {
  text-align: center;
  padding: 0.1rem 0;
}

.acknowledgements {
  background-color: white;
  color: black;
}

.acknowledgements > img {
  max-height: 20em;
  margin: 2rem 0;
}

.acknowledgements > h1 {
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

.back-to-top {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  display: inline-block;
  font-weight: bold;
  padding: 0 0.2rem;
  opacity: 0;
  font-size: 1.5rem;
  background-color: var(--text-color);
  color: var(--background-color);
  cursor: pointer;
  z-index: 1000;
  user-select: none;
}

.collapse-title {
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.show-hide {
  text-align: right;
  user-select: none;
}

.options {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;

  background-color: var(--background-color);
  border-top: var(--wavy-border-top-bottom);
  border-bottom: var(--wavy-border-top-bottom);
  border-image: var(--wavy-border-image);
  z-index: 500;

  padding: 0.5rem var(--content-lr-padding);
  transition: opacity 200ms ease;
}

.labeled-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

.labeled-input > label {
  flex-basis: 15ch;
  white-space: nowrap;
  margin-right: 1em;
}

.labeled-input > input {
  flex-grow: 1;
}

.labeled-input > select {
  flex-grow: 1;
  max-width: 75%;
}

.labeled-checkbox {
  text-indent: -1.4rem;
  padding-left: 1.4rem;
}

input[type="checkbox"] {
  margin-right: 0.4rem;
}

.reset-btn {
  text-align: right;
}
.site-menu a {
  color: inherit;
  text-decoration: none;
}

.site-menu a:hover {
  text-decoration: underline;
}
/* Smartphones (portrait) ----------- */
@media only screen and (max-device-width: 430px) {
  header {
    padding: 0.25rem 0.5rem;
  }

  h1 {
    font-size: 1.5rem;
    line-height: 1.2;
  }

  h2 {
    font-size: 1.4rem;
  }

  h3 {
    font-size: 1.2rem;
  }

  header p,
  .accordion p,
  .accordion li {
    font-size: 1rem;
  }

  .map {
    user-select: none;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .map-section-title {
    font-size: 2.2rem;
    margin: 5rem 0;
  }

  .mapdescription {
    text-align: justify;
  }

  .mapviz {
    max-width: 100%;
    margin: 0 auto;
  }

  section {
    overflow: hidden;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}
