.results {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow-y: scroll;
    padding-bottom: 6em;

    &>div {
        margin-bottom: 4em;
    }

    & .results-display {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 6em;
        
        &>canvas {
            margin: 3em 0;
        }
    }
}

.graph-area {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 3em 0;
}


.stack-labels {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    flex-grow: 1;
    margin-right: 2ch;
    
    & p {
        margin-top: 0;
    }
    
    & div {
        text-align: end;
    }
}