.results {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow-y: scroll;
    padding-bottom: 6em;

    &>div {
        margin-bottom: 4em;
    }

    & .results-display {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 6em;

        &>canvas {
            margin: 3em 0;
        }
    }
}

.results-menu {
    width: 100%;
    display: flex;
    justify-content: space-between;

    &>select {
        margin: auto;
    }
}

.pairing-graph {
    width: 100%;
    margin: 3em 0;
    display: grid;
    grid-template-rows: 1fr auto 1fr;
    grid-template-columns: 1fr auto 1fr;

    &>div {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &>.label-x-min {
        grid-area: 2 / 1 / span 1 / span 1;
        text-align: center;
        writing-mode: sideways-lr;
    }

    &>.label-x-max {
        grid-area: 2 / 3 / span 1 / span 1;
        text-align: center;
        writing-mode: sideways-lr;
    }

    &>.label-y-min {
        grid-area: 1 / 2 / span 1 / span 1;
        text-align: center;
    }

    &>.label-y-max {
        grid-area: 3 / 2 / span 1 / span 1;
        text-align: center;
    }

    &>.graph-div {
        /* center */
        grid-area: 2 / 2 / span 1 / span 1;
        margin: auto;
    }
}

.graph-area {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 3em 0;
}


.stack-labels {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    flex-grow: 1;
    margin-right: 2ch;

    & p {
        margin-top: 0;
    }

    & div {
        text-align: end;
    }
}