@import url("utils.scss");
@import url("layout.scss");
@import url("results.scss");
@import url("slider.scss");

/* @font-face {
    font-family: Didot;
    src: url("didot-regular.ttf") format("truetype");
} */
@font-face {
    font-family: Theano Didot;
    font-style: normal;
    font-weight: 400;
    src: local("Theano Didot Regular"), local("TheanoDidot-Regular"), url(theano-didot-regular-latin.woff2) format("woff2"), url(theano-didot-regular-latin.woff) format("woff");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
    font-display: auto;
}

:root {
    --dot-diameter: 32px;
    --slider-width: 16px;
    --touch-scaleup: 2;
    --touch-area: calc(var(--touch-scaleup) * var(--dot-diameter));
    --offblack: #333;
    --lightgrey: #999;
    --max-content-width: min(40em, calc(100vh / 2));
    --page-padding-x: 5vw;
    --page-padding-y: 1.75rem;
    --content-padding-x: max(calc((100vw - var(--max-content-width)) / 2 - var(--page-padding-x)), 0px);
}

* {
    box-sizing: border-box;
}

html {
    height: 100%;
    overflow: hidden;

    font-family: 'Source Code Pro', monospace;
    font-weight: bold;
    font-size: min(12px, 3vw);
    font-display: swap;
    hyphens: auto;
    color: var(--offblack);
    background-color: #fff;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
}

hr {
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Theano Didot', 'Georgia', 'Times', 'Times New Roman', serif;
    font-style: italic;
    text-transform: uppercase;
}

h1 {
    font-size: 1.75rem;
}

a {
    text-decoration: none;
    color: inherit;

    &:hover {
        text-decoration: underline;
    }
}

p {
    text-align: justify;
}

button {
    border: 2px solid var(--offblack);
    border-radius: 3px;
    background-color: white;
    text-transform: uppercase;
    font-size: 1.2em;

    &:disabled {
        opacity: 0.5;
    }
}

input[type="text"] {
    border: 2px solid var(--offblack);
    background-color: white;
    text-transform: uppercase;
    font-size: 1.5em;
}

input[type="checkbox"] {
    margin: 0;
    color: var(--offblack);
    height: 2em;
    filter: saturate(0);
}

figure {
    margin: 0 auto;

    & img {
        max-width: 100%;
    }
}