div(class="color-view")
div(class="color-picker")
    div
        div(class="vslider" id="cyan")
            label(for="cyan") Cyan
        div(class="handle")
    div
        div(class="vslider" id="magenta")
            label(for="magenta") Magenta
        div(class="handle")
    div
        div(class="vslider" id="yellow")
            label(for="yellow") #{__('yellow')}
        div(class="handle")
script(type="module" src="/controls/color-picker.js")