div(class="color-view")
div(class="color-picker")
    div
        div(class="centered-content")
            div(class="vslider" id="cyan")
                div(class="handle")
        label(for="cyan") Cyan
    div
        div(class="centered-content")
            div(class="vslider" id="magenta")
                div(class="handle")
        label(for="magenta") Magenta
    div
        div(class="centered-content")
            div(class="vslider" id="yellow")
                div(class="handle")
        label(for="yellow") #{__('yellow')}
script(type="module" src="/controls/color-picker.js")