div(class="color-view")
div(class="color-picker")
    div
        div(class="vslider" id="cyan")
            div(class="handle" id="cyan-handle")
                img(src="/images/tri-cyan.svg")
            div(class="fill" style="background-color: cyan;")
    div
        div(class="vslider" id="magenta")
            div(class="handle" id="magenta-handle")
                img(src="/images/tri-magenta.svg")
            div(class="fill" style="background-color: magenta;")
    div
        div(class="vslider" id="yellow")
            div(class="handle" id="yellow-handle")
                img(src="/images/tri-yellow.svg")
            div(class="fill" style="background-color: yellow;")