
div(class="xy-view")
    table
        tr
            td
            td
        tr 
            td
            td
    div(class="handle")
    div(class="vslider")
    div(class="hslider")
script(type="module" src="/controls/slider.js")
