
div(class="value-box")
    span = 
    input(type="number", class="value-input", min=0, max=100, step=1)
    if unit
        span !{unit}
div(class="label") !{yLabelMax}
div(style="position: relative; height: 100%;")
    div(class="vslider")
        div(class="handle")
            img(src="/images/tri-black.svg")
        div(class="fill")
div(class="label") !{yLabelMin}