div(style="height: 100%; display: flex;")
    div(class="vlabels" style="flex: 2;")
        div !{scaleLabelMax}
        if scaleLabelZero != "missing translation"
            div !{scaleLabelZero}
        div !{scaleLabelMin}
        
    div(class="centered-content" style="flex: 1;")
        div(class="vslider")
            div(class="handle")
script(defer type="module" src="/controls/vslider.js")