div(style="height: 100%; display: flex; margin: 2.5em 0;")
    div(class="vlabels" style="flex: 2;")
        div !{scaleLabelMax}
        if scaleLabelZero != "missing translation"
            div !{scaleLabelZero}
        div !{scaleLabelMin}
        
    div(class="centered-content" style="flex: 1;")
        div(style="position: relative; height: 100%;")
            div(class="vslider")
                div(class="handle")
                    img(src="/images/tri-black.svg")
                div(class="fill")