script.
  const colors = "#{colors}".split(',');
  let i = 0;
  setTimeout(setBodyBackgroundColor, 100);
  setInterval(setBodyBackgroundColor, 10000);

  function setBodyBackgroundColor() {
    const color = colors[++i % colors.length];
    document.body.style.setProperty('background-color', color);
  }