div(class="color-picker")
    div(class="color-view")
    div(class="rail color-cyan")
    div(class="rail color-magenta")
    div(class="rail color-yellow")
    div(class="rail color-black")
script(type="module" src="/color-picker.js")