title Survey 2022
meta(charset='UTF-8')
meta(name='viewport' content='width=device-width,initial-scale=1.0, maximum-scale=1.0,user-scalable=no')
link(rel='stylesheet' href='style.css')
link(rel='prefetch prerender next' href=next)
script(src='check-webp.js')
script let FF_FOUC_FIX