title Survey 2022
meta(charset='UTF-8')
meta(name='viewport' content='width=device-width,initial-scale=1.0, maximum-scale=1.0,user-scalable=yes')

script(src='check-webp.js')

link(rel='stylesheet' href='style.css')

link(rel="preload" href="didot-regular.ttf" as="font" type="font/ttf" crossorigin)
link(rel="preconnect" href="https://fonts.googleapis.com")
link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
link(href="https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap" rel="stylesheet")

link(rel='prefetch prerender next' href=next)
script let FF_FOUC_FIX