doctype html
head
    include includes/head
    block head-scripts
body(style=style)
    div(class="page-container")
        div(class="page-content")
            block content
        block footer
            include includes/nav
    block scripts
