doctype html
head
    include includes/head
    block head-scripts
body(style=style)
    div(class="page-container")
        block lang
        div(class="page-content")
            block content
        block footer
            include includes/nav
    if canComment
        div(class="comment-modal hidden")
            textarea(placeholder=`${__('commentPlaceholder')}`)
            div
                button(type="button" id="cancel-btn") #{__('cancelLabel')}
                button(type="button" id="submit-btn") #{__('submitLabel')}
        script(defer type="module" src="/comment.js")
    block scripts
