extends base

block content
    div(class="top-third")
        h1(class="interact-title") !{title}
        if topContent != "missing translation"
            div(class="topContent") !{topContent}
    div(class="interact")
        case controlType
            when "color"
                include includes/controls/color
            when "vslider-number"
                include includes/controls/vslider-number
            when "vslider-labels"
                include includes/controls/vslider-labels
            when "pcode"
                include includes/controls/pcode
        if bottomContent != "missing translation"
            div(class="bottomContent") !{bottomContent}

block scripts
    case controlType
        when "color"
            script(defer type="module" src="/controls/color-picker.js")
        when "vslider-number"
            script. 
                window.yRange = JSON.parse("!{yRange}");
            script(defer type="module" src="/controls/vslider.js")
        when "vslider-labels"
            script(defer type="module" src="/controls/vslider.js")
        when "pcode"
            script(defer type="module" src="controls/pcode.js")