extends base

block content
    div(class="top-third")
        h1(class="interact-title") !{title}
        if topContent != "missing translation"
            div(class="topContent") !{topContent}
    div(class="interact")
        if controlType == "color"
            include includes/controls/color
        if controlType == "color-mono"
            include includes/controls/color-mono
        if controlType == "slider-xy"
            include includes/controls/slider-xy
        if controlType == "pcode"
            include includes/controls/pcode
        if bottomContent != "missing translation"
            div(class="bottomContent") !{bottomContent}
