extends base

block content
    div(class="top-third")
        h1(class="interact-title") !{title}
        if topContent != "missing translation"
            div(class="topContent") !{topContent}
    div(class="interact")
        if controlType == "color"
            include includes/controls/color
        if controlType == "vslider-number"
            include includes/controls/vslider-number
        if controlType == "vslider-labels"
            include includes/controls/vslider-labels
        if controlType == "pcode"
            include includes/controls/pcode
        if bottomContent != "missing translation"
            div(class="bottomContent") !{bottomContent}
