extends base

block lang
    div(class="lang-links")
        a(href=`/?lang=fr`) #{__("french")}
        a(href=`/?lang=en`) #{__("english")}
block content
    div(class="landing")
        h1 !{title}
        div !{textContent}