extends base

block content
    div(class="results")
        h1 !{title}
        div !{textContent}

block scripts
    //- script window.__keys = JSON.parse('!{keys}')
    //- script(defer type="module" src="/results.js")
