extends base

block content
    div(class="submit")
        h1 !{title}
        div !{textContent}
        div(class="email-input")
            p
                span [
                input(id='email' type='email' name='email' placeholder='abc123@email.com')
                span ]
        button(type="button") #{__("submitLabel")}

block scripts
    script(type="module" src="/submit.js")
